@import "./reset.scss";
@import url("https://v1.fontapi.ir/css/VazirFD");


html {
  // background: #06beb6;
  // background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
  // background: linear-gradient(to right, #48b1bf, #06beb6);
  // height: 100vh;
  font-size: 62.5%; // 10px
  text-decoration: none;
}

body {
  margin: 0;
  direction: rtl;
  font-family: "Vazir FD", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
  height: fill-available;
  height: -moz-available;
  // padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
